@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/TTLakes-Regular.woff');
}

@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./fonts/TTLakes-Bold.woff');
}

@font-face {
  font-family: "TT Lakes";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./fonts/TTLakes-Medium.woff');
}
/*Обнуление*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.container__title {
  font-family: TT Lakes;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #7E7E82;
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}
.swiper-slide {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
  border-radius: 6px;
}
.container__show {
  display: none;
}
@media (min-width: 320px) {
  .container {
    height: 100vh;
  }
  .container__title {
    padding: 16px 16px;
  }
  .swiper-container {
    background: #F2F2F2;
    height: 154px;
    width: 100%;
  }
  .container__main {
    padding-top: 16px;
  }
  .swiper-slide {
    width: 240px !important;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .swiper-pagination {
    bottom: 25px !important;
  }
  .swiper-pagination-bullet {
    background: #DDDDDD;
    width: 12px;
    height: 12px;
    opacity: 1;
  }
  .swiper-pagination-bullet-active {
    background: #B5B6BC;
  }
}

@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
  .container__main {
    padding-top: 8px;
  }
  .swiper-container {
    height: 100%;
  }
  .container__title {
    padding: 16px 0 16px 3.5%;
  }
  .swiper-wrapper {
    flex-wrap: wrap;
    height: unset;
    /*justify-content: center;*/
    align-items: center;
    margin-left: 2%;
  }
  .swiper-slide {
    flex-grow: 0;
    width: 29% !important;
    display: flex;
    justify-content: space-between;
  }
  .container__slider {
    margin-left: 1.5% !important;
    margin-right: 1.5% !important;
    margin-top: 16px;
  }
  .swiper-slide__brand {
    flex: 0 0 auto;
    margin-left: 6%;
  }
  .swiper-slide__link {
    display: flex;
    justify-content: right;

  }
  .swiper-slide__arrow {
    padding-right: 26%;
    flex: 1 1 auto;
  }
  .container__slider_notActive {
    display: none;
  }
  .container__show {
    display: flex;
    cursor: pointer;
    margin-top: 24px;
    margin-left: 4%;
  }
  .container__arrow {
    font-family: TT Lakes;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    margin-left: 16px;
  }
}
@media (min-width: 1120px) {
  .container {
    width: 1120px;
    margin: auto;
  }
  .container__title {
    padding: 16px 0 16px 28px;
  }
  .swiper-wrapper {
    margin-left: 1%;
  }
  .swiper-slide {
    width: 240px !important;
  }
  .container__show {
    margin-left: 3%;
  }
}


